@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.skl-body {
  position: relative;
  background: linear-gradient(135deg, #e6e2f1, #ebc1cb);
  color: #333;
  height: 100vh;
  width: 100%;
  position: relative;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 11%;
}

.skills span {
 
  font-size: 17px;
}
.sklh1{
    position: absolute;
    width: 5%;
    top: 5%;
    left: 46%;
    font-size: 40px;
    color: saddlebrown;
}
